<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>Placeholders -Codeforces Clone</title>

<link rel="stylesheet" href="/libraries/bootstrap-4.5.0-dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/style.css">
<script src="/javascripts/jquery-3.5.1.min.js" ></script>
<script src="/javascripts/popper.min.js"></script>
<script src="/libraries/bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
