<div class="container mt-4">
  <div class="row">
    <div class="col"></div>
    <div class="col-12 col-md-9">
      <div class="card shadow border-0">
        <div class="card-body">
          <h3>What is Placeholders?</h3>
          <hr />
          <p>
            <strong class="text-danger">Placeholders</strong> is a Competitive
            Programming Website for Organising contest at institute level to
            promote Coding culture. To get started, simply
            <a href="/register">sign up</a>.
          </p>
          <p>
            The project is created using Node.js, Express, and MongoDB and is
            hosted on heroku . The Code Judge is hosted on a Different server
            using a docker container for Loose Coupling and Easy Scalabity.
          </p>
          <h3>Features</h3>
          <hr />
          <ul>
            <li>A Practice Section containing question from all previous contest to practice and hone your skills</li>
            <li>A Ranking </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
