git <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Problem Create form</title>
</head>
<body>
    <h1>Problem Create form</h1>
    <form method="POST" action="/problems/create" enctype="multipart/form-data">
        <div>
            <label>Select images:</label>
            <input type="file" name="input_file" />
            <input type="file" name="output_file" />
        </div>
        <div>
            <input type="submit" name="btn_upload_multiple_images" value="Upload" />
        </div>
    </form>
</body>
</html>