<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/submit" method="POST">
        <input type="text" value="<%=pid%>" readonly>
        <div>
            <textarea name="code" cols="100" rows="40"></textarea>
        </div>
        <input type="submit" value="Submit" class="submitButton">
        </textarea>
    </form>
</body>
</html>